* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}
    /* PER LA BARRA SCHE SCORRE */
.position-fix {
    height:80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

/* HEADER */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* BARRA INIZIALE */
.sfondo1 {
    height: 80px;
    background-color: #f5f8fa;
    border-bottom: 2px solid #33475b;
}

.header-top {
    height: 80px;
    padding: 10px 0;
    line-height: 60px;
    font-family: 'Arimo', sans-serif;
}

.globe {
    float: left;
    color: #33475b;
}

#bord {
    border-left: 3px solid #808080;
    margin-left: 10px;
    padding-left: 15px;
}

.header-top ul {
    display: inline;
}

.header-top li {
    list-style: none;
    display: inline;
}

.c-menu {
    display: inline;
    padding: 10px;
    position: relative;
}

ul.menu-l {
    display: none;
}

.header-top li:hover .menu-l {
    display: block;
    position: absolute;
    padding: 20px;
    background-color: white;
}

.menu-l li {
    width: 100%;
    display: block;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: #33475b;
}

.menu-l li:hover {
    background-color: #7fd1de;
}

.search {
    float: right;
}

#logo-search {
    color: #00a4bd;
}

.log-in {
    color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 5px;
    background-color: white;
    padding: 10px 10px;
    margin-left: 20px;
}

.log-in button {
    color: #ff7a59;
}

.log-in:hover {
    background-color: #fff1ee;
}

.gethub {
    color: white;
    background-color: #ff7a59;
    border-radius: 5px;
    padding: 11px 15px;
    margin-left: 20px;
    border: none;
}

.gethub:hover {
    background-color: #ffbcac;
}

/* BARRA NAV */
.sfondo2 {
    background-color: white;
    padding-top: 80px;
}
.header-nav {
    height: 80px;
    padding: 10px 0;
}

#logo {
    height: 30px;
    width: auto;
    float: left;
    margin: 15px 0;
}

nav {
    float: right;
    line-height: 60px;
    font-family: 'Arimo', sans-serif;
}

nav ul li {
    float: left;
    list-style: none;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #33475b;
}

li i {
    padding-left: 20px;
}

/* BANNER */
.sfondo3 {
    background-image: url('../img/KnZ9-jumbotron.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}

.banner {
    width: 45%;
    height: 500px;
    position: relative;
}

.testo-banner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    color: #33475b;
    font-size: 300%;
    font-family: 'Arimo', sans-serif;
    margin: 30px 0px;
}

p {
    font-family: 'Arimo', sans-serif;
}

.banner button {
    color: white;
    font-family: 'Arimo', sans-serif;
    border: none;
    background-color: #ff7a59;
    border-radius: 5px;
    padding: 20px 40px;
    margin: 30px 0px;
    cursor: pointer;
}

.banner button:hover  {
    background-color: #ffbcac;
}

/* MAIN */
/* SECTION 1 */
.sfondo4 {
    background-color: #f5f8fa;
    height: 1638px;
}

/* BOX 1 */
.box1 {
    text-align: center;
    padding: 60px 230px;
    line-height: 1.6;
}

.box1 img {
    height: 250px;
    width: auto;
}
.box1 h2 {
    padding-bottom: 25px;
}

/* BOX 2 */
.box2 {
    padding: 60px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 10px 50px -5px rgba(50, 66, 92,0.12);
}

.libro {
    width: 35%;
    float: left;
    text-align: center;
    padding-top: 10px;
}

.libro img {
    height: 120px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.lear {
    color: white;
    border: none;
    background-color: #ff7a59;
    border-radius: 5px;
    padding: 18px 40px;
}

.lear:hover {
    background-color: #ffbcac;
}

.libro2 {
    width: 65%;
    float: left;
    font-family: inherit;
    line-height: 1.6;
    margin: 20px 0;
}

.libro2 h2 {
    color: #33475b;
    margin-top: 15px;
}

.libro2 p {
    color: #33475b;
    margin: 20px 0;
    margin-right: 140px;
}

.libro2 .line {
    display: block;
    position: relative;
    margin-bottom: 0;
}

.line span {
    font-weight: bold;
}

.line::after {
    content: '';
    width: 68%;
    height: 2px;
    background-color: #808080;
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.inline p {
    display: inline-block;
    color: #33475b;
    margin-top: 25px;
    margin-right: 10px;
}

.inline i {
    color: white;
    background-color: #ff7a59;
    border-radius: 10px;
    padding: 2px;
    margin: 10px 0;
}

/* BOX BOX BOX */
.box {
    width: 30%;
    float: left;
    margin: 4.5% 0;
    margin-right: 5%;
    padding: 15px 47px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 10px 50px -5px rgba(50, 66, 92,0.12);
}

.box:hover {
    transform: scale(1.01);
}

.box:last-child {
    margin-right: 0%;
}

.box img {
    height: 120px;
    width: auto;
    margin-top: 10px;
}

.box h2,p,h3 {
    color: #33475b;
}

.box h2 {
    margin: 15px 0;
}

.paragraph {
    padding-bottom: 50px;
    line-height: 1.4;
}

.box h3 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.inside {
    text-align: center;
}

.box i {
    color: white;
    background-color: #ff7a59;
    border-radius: 10px;
    padding: 1px 1px;
    margin-top: 2px;
    margin-right: 10px;
}

.box button {
    margin-top: 50px;
}

/* SECTION 2 */
.sfondo5 {
    background-color: #00aab7;
    background-image: linear-gradient(to right, #00aab7, #00b9a9);
    height: 750px;
}

/* BOX 3 */
.box3 {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    padding: 40px 87px;
    margin-bottom: 35px;
}

.box3 h2 {
    color: white;
    font-size: 200%;
    margin-bottom: 20px;
}

.box3 p {
    color: white;
    line-height: 1.6;
}

/* BOX-GRID */
.box-grid {
    width: 25%;
    float: left;
    font-size: 100%;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    line-height: 1.6;
    padding-top: 35px;
    padding-bottom: 10px;
}

.border-b {
    border-bottom: 1px solid white;
}

.border-r {
    border-right: 1px solid white;
}

.box-grid h2 {
    color: white;
    font-size: 300%;
}

.box-grid span {
    font-size: 50%;
}

.box-grid p {
    color: white;
}

/* SECTION 3 */
.sfondo6 {
    height: 780px;
}

/* BOX 4 */
.box4 {
    width: 25%;
    float: left;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    padding: 0 40px;
    line-height: 1.6;
}

.box4 h2 {
    color: #33475b;
    font-size: 300%;
    padding-top: 40px;
    padding-bottom: 20px;
}

/* BOX 5 */
.box5 {
    width: 75%;
    float: left;
    line-height: 4;
    padding-top: 60px;
    padding-left: 60px;
}

.d1 {
    width: 25%;
    height: 100px;
    float: left;
    padding-top: 5px;
    padding: 0 50px;
}

.d2 {
    width: 25%;
    height: 100px;
    float: left;
    padding-top: 7px;
    padding-left: 50px;
}

.d3 {
    width: 25%;
    height: 100px;
    float: left;
    padding-right: 50px;
}

.dimension {
    height: 20px;
    width: auto;
}

.dimension2 {
    height: 40px;
    width: auto;
}

.dimension3 {
    height: 30px;
    width: auto;
}

/* BOX 6 */
.box6 {
    width: 40%;
    float: left;
}

.box6 button {
    color: white;
    border: none;
    background-color: #ff7a59;
    border-radius: 5px;
    padding: 20px 35px;
    margin: 35px 0px;
}

.box6 button:hover {
    background-color: #ffbcac;
}

.box6 h2 {
    color: #33475b;
    font-size: 200%;
    font-family: 'Arimo', sans-serif;
    padding-top: 45px;
    padding-bottom: 25px;
}

.box6 p {
    font-family: 'Arimo', sans-serif;
    line-height: 1.6;
}

/* BOX 7 */
.box7 {
    width: 60%;
    float: left;
}
.box7 img {
    height: 400px;
    width: auto;
    float: right;
}

/* FOOTER */
/* SECTION 4 */
.sfondo7 {
    background-color: #33475b;
    height: 620px;
}

/* BOX F */
.box-f {
    width: 25%;
    font-family: 'Arimo', sans-serif;
    line-height: 2;
    float: left;
}

.box-f h4 {
    color: white;
    padding-top: 35px;
    padding-bottom: 25px;
}

.box-f li {
    list-style: none;
}

.box-f li a {
    display: block;
    color: #cbd6c8;
}

.box-f button {
    color: #33475b;
    border: 1px solid #DCDCDC;
    background-color: #DCDCDC;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 15px 0;
    font-family: 'Arimo', sans-serif;
}

.box-f button:hover {
    background-color: #eaf0f6;
}

.font-f i {
    font-size: 140%;
    color: #cbd6c8;
    padding-right: 23px;
}

.box-f li a:hover {
    color: #7fd1de;
}

.box-f i:hover {
    color: #7fd1de;
}

/* BOX F2 */
.box-f2 {
    width: 100%;
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    border-bottom: 1px solid #cbd6c8;
    margin-bottom: 30px;
}

.box-f2 ul {
    display: inline-block;
}

.box-f2 li {
    float: left;
    list-style: none;
    padding: 0 15px;
}

.box-f2 li a {
    color: #cbd6c8;
}

.box-f2 li a:hover {
    color: #7fd1de;
}

/* BOX F3 */
.box-f3 {
    width: 50%;
    float: left;
    font-family: 'Arimo', sans-serif;
}

.box-f3 p,
.box-f4 a {
    color: #cbd6c8;
    margin-top: 15px;
}

.box-f3 img {
    height: 30px;
    width: auto;
}

/* BOX F4 */
.box-f4 {
    width: 50%;
    float: left;
    color: white;
    font-family: 'Arimo', sans-serif;
}

.box-f4 li {
    list-style: none;
    float: right;
    margin-left: 20px;
}

.box-f4 li a:hover {
    color: #7fd1de;
}
