* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}
    /* PER LA BARRA SCHE SCORRE */
/* .position-fix {
    height:80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
} */

/* HEADER */
.container {
    width: 80%;
    margin: 0 auto;
    /* DA CANCELLARE */
    /* height: 750px; */
    /* background-color: violet; */
}

/* BARRA INIZIALE */
.sfondo1 {
    height: 80px;
    background-color: #f5f8fa;
    border-bottom: 2px solid #33475b;
}

.header-top {
    height: 80px;
    padding: 10px 0;
    line-height: 60px;
}

.globe {
    float: left;
    color: #33475b;
}

#bord {
    border-left: 3px solid #808080;
    margin-left: 10px;
    padding-left: 15px;
}

.search {
    float: right;
}

#logo-search {
    color: #00a4bd;
}

.log-in {
    color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 5px;
    background-color: white;
    padding: 10px 10px;
    margin-left: 20px;
}

.gethub {
    color: white;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 20px;
}

/* BARRA NAV */
.sfondo2 {
    height: 80px;
    background-color: white;
}
.header-nav {
    height: 80px;
    padding: 10px 0;
}

#logo {
    height: 30px;
    width: auto;
    float: left;
    margin: 15px 0;
}

nav {
    float: right;
    line-height: 60px;
}

ul li {
    float: left;
    list-style: none;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #33475b;
}

li i {
    padding-left: 20px;
}

/* BANNER */
.sfondo3 {
    background-image: url('../img/KnZ9-jumbotron.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}

.banner {
    width: 45%;
    height: 500px;
    position: relative;
}

.testo-banner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    color: #33475b;
    font-size: 300%;
    font-family: inherit;
    margin: 30px 0px;
}

p {
    font-family: inherit;
}

.banner button {
    color: white;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 30px 0px;
}

/* MAIN */
/* SECTION 1 */
.sfondo4 {
    background-color: #f5f8fa;
    height: 1615px;
}

/* BOX 1 */
.box1 {
    height: 500px;
    text-align: center;
    padding: 60px 230px;
    line-height: 1.6;
}

.box1 img {
    height: 250px;
    width: auto;
}
.box1 h2 {
    padding-bottom: 25px;
}

/* BOX 2 */
.box2 {
    height: 400px;
    padding: 60px 20px;
    background-color: white;
    border-radius: 5px;
}

.libro {
    width: 35%;
    float: left;
    text-align: center;
    padding-top: 10px;
}

.libro img {
    height: 120px;
    width: auto;
    margin-top: 20px;
}
.lear {
    color: white;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    border-radius: 5px;
    padding: 18px 40px;
    margin: 30px 0px;
}

.libro2 {
    width: 65%;
    float: left;
    font-family: inherit;
    line-height: 1.6;
    margin: 20px 0;
}

.libro2 h2 {
    color: #33475b;
    margin-top: 15px;
}

.libro2 p {
    color: #33475b;
    margin: 20px 0;
    margin-right: 140px;
}

.line {
    display: block;
}

.line span {
    font-weight: bold;
    float: left;
}

.line::after {
    content: '';
    width: 68%;
    height: 2px;
    background-color: #808080;
    float: left;
    margin-top: 13px;
    margin-left: 40px;
}

.inline p {
    display: inline-block;
    color: #33475b;
    margin-top: 25px;
    margin-right: 10px;
}

.inline i {
    color: white;
    background-color: #ff7a59;
    border-radius: 10px;
    padding: 2px;
    margin: 10px 0;
}

/* BOX BOX BOX */
.box {
    height: 605px;
    width: 30%;
    float: left;
    margin: 4.5% 0;
    margin-right: 5%;
    padding: 15px 47px;
    background-color: white;
    border-radius: 5px;
}

.box:last-child {
    margin-right: 0%;
}

.box img {
    height: 120px;
    width: auto;
    margin-top: 10px;
}

.box h2,p,h3 {
    color: #33475b;
}

.box h2 {
    margin: 15px 0;
}

.paragraph {
    padding-bottom: 50px;
    line-height: 1.4;
}

.box h3 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.inside {
    text-align: center;
}

.box i {
    color: white;
    background-color: #ff7a59;
    border-radius: 10px;
    padding: 1px 1px;
    margin-top: 2px;
    margin-right: 10px;
}

.box button {
    margin-top: 50px;
}

/* SECTION 2 */
.sfondo5 {
    background-color: #00aab7;
    background-image: linear-gradient(to right, #00aab7, #00b9a9);
    height: 780px;
}

/* BOX 3 */
.box3 {
    height: 250px;
    text-align: center;
    padding: 40px 87px;
    font-family: 'Arimo', sans-serif;
}

.box3 h2 {
    color: white;
    font-size: 200%;
    margin-bottom: 20px;
}

.box3 p {
    color: white;
    line-height: 1.6;
}

/* BOX-GRID */
.box-grid {      /* ALLINEARE IL SEGNO + NELLA GRIGLIA */
    width: 25%;
    height: 200px;
    float: left;
    font-size: 100%;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    line-height: 1.6;
    padding-top: 35px;
    padding-bottom: 10px;
}

.border-b {
    border-bottom: 1px solid white;
}

.border-r {
    border-right: 1px solid white;
}

.box-grid h2 {
    color: white;
    font-size: 300%;
}

.box-grid span {
    font-size: 50%;
}

.box-grid p {
    color: white;
}

/* SECTION 3 */
.container2 {
    width: 80%;
    margin: 0 auto;
}

.sfondo6 {
    height: 800px;
    /* background-color: pink; */
}

/* BOX 4 */
.box4 {
    height: 300px;
    width: 25%;
    float: left;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    padding: 0 40px;
    line-height: 1.6;
}

.box4 h2 {
    color: #33475b;
    font-size: 300%;
    padding-top: 40px;
    padding-bottom: 20px;
}

/* BOX 5 */
.box5 {
    height: 300px;
    width: 75%;
    float: left;
    line-height: 4;
    padding-top: 60px;
    padding-left: 60px;
}

.d1 {
    width: 25%;
    height: 100px;
    float: left;
    padding-top: 5px;
    padding: 0 50px;
}

.d2 {
    width: 25%;
    height: 100px;
    float: left;
    padding-top: 7px;
    padding-left: 50px;
}

.d3 {
    width: 25%;
    height: 100px;
    float: left;
    padding-right: 50px;
}

.dimension {
    height: 20px;
    width: auto;
}

.dimension2 {
    height: 40px;
    width: auto;
}

.dimension3 {
    height: 30px;
    width: auto;
}

/* BOX 6 */
.box6 {
    height: 450px;
    width: 40%;
    float: left;
}

.box6 button {
    color: white;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 35px 0px;
}

.box6 h2 {
    color: #33475b;
    font-size: 200%;
    font-family: 'Arimo', sans-serif;
    padding-top: 45px;
    padding-bottom: 25px;
}

.box6 p {
        font-family: 'Arimo', sans-serif;
        line-height: 1.6;
}

/* BOX 7 */
.box7 {
    height: 450px;
    width: 60%;
    float: left;
}
.box7 img {
    height: 400px;
    width: auto;
    float: right;
}
